        <style type="text/css">
            @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

            * {
                scroll-behavior: smooth;

            }

            body {
                                scrollbar-width: thin;

            }

            /*SCROLLBAR*/
            ::-webkit-scrollbar {
                width: 8px;

            }
            ::-webkit-scrollbar-track {
                background: #F1F1F1;
            }
            ::-webkit-scrollbar-thumb {
                background: linear-gradient(163deg, rgba(46,59,35,0.8855917366946778) 44%, rgba(84,105,64,1) 71%);
            }
            
            body {
                display: grid;
                grid-template-rows: 50px auto auto;
                margin: 0;
                padding: 0;
                font-family: 'Codec Pro';
                scrollbar-width: none;
            }


            header {
                display: flex;
                align-items: center;
                background: rgb(46,59,35);
                background: linear-gradient(163deg, rgba(46,59,35,0.8855917366946778) 44%, rgba(84,105,64,1) 71%);
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }

            header a {
                margin: auto;
                font-size: 20px;
                text-decoration: none;
                color: #FFF;
                padding: 5px;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                text-decoration: none;
                border-radius: 45px;
            }

            nav a {
                text-decoration: none;
                color: #1e264a;
            }

            footer {
                height: 37px;
                background: rgb(46,59,35);
                background: linear-gradient(163deg, rgba(46,59,35,0.8855917366946778) 44%, rgba(84,105,64,1) 71%);
                color: #FFF;
                text-align: center;
                align-content: center;
                vertical-align: middle;
                font-size: 13px;
                padding-top: 3px;

            }

            footer a {
                text-decoration: none;
                color: #FFFFFF;
            }

            footer small {
                display:  block; 
                color: #78807A; 
                font-size: 11px; 
                text-align: center;
            }

            nav {
                background: rgb(46,59,35);
                background: rgb(29 37 73);
            }

            button:disabled {
                cursor: not-allowed;
                pointer-events: all !important;
            }
				
				ul	{
				display: inline;
				}

            /* CONTAINERS */
            .container-principal {
                display: flex;
                flex-direction: row;
                height: 130vh;
                align-items: center;
                text-align: center;
            }

            .container {
                display: flex;
                flex-direction: row;
                height: 95vh;
            }

            .area-questao {
                display: flex;
                flex-direction: column;
            }


        	/* DIVS */
				.menu-1 li ul {
				display: inline-block;
				list-style: none;
				position: relative;
				list-style-type: disc;

				}
				
            .item-1 {
                width: 40%;
                padding: 0px;
					 background: rgb(29 37 73);
            }

            .item-2 {
                width: 0%;
					 margin: 30px;
            }

            .item-3 {
                padding: 20px;
                margin: 10px;
                justify-content: center;
                text-align: center;
                text-align: center;
                align-content: center;
            }

            .item-4 {
                display: grid;
                justify-content: center;
                text-align: center;
                text-align: center;
                align-content: center;
                vertical-align: middle;
            }

            .navegacao-questoes {
                display: flex;
                justify-content: center;
                padding: 2em;
            }


            #resultado-errada {
                background-color: rgba(92, 30, 30, 0.9);
                position: fixed;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                padding: 50px;
                text-align: center;
                color: #FFF;
                transition: 0.5s;
                visibility: hidden;
                opacity: 0;
                max-height: 600px;
                scroll-behavior: smooth;
            }

            #resultado-errada.active {
                top: 50%;
                visibility: visible;
                opacity: 1;
            }

            #resultado-certa {
                background-color: rgba(18, 36, 22, 0.9);
                position: fixed;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                padding: 50px;
                text-align: center;
                color: #FFF;
                transition: 0.5s;
                visibility: hidden;
                opacity: 0;
                max-height: 600px;
                scroll-behavior: smooth;
            }

            #resultado-certa.active {
                top: 50%;
                visibility: visible;
                opacity: 1;
            }




        	/* IMAGENS */

            .imagem-principal {
                width: 470px;
            } /*RECORTAR FUNDO IMAGEM E FAZER DE NOVO, ADICIONAR BLOB ATRÁS*/

            .imagens {
                width: 30em;
                padding-left: 5em;
            }

            .img-links {
                width: 120px;
                margin: 7px 25px;
            }

            #img-questao {
                box-shadow: 0 5px 30px rgba(0,0,0,.30);
            }

            .imagem-coruja-pergunta {
                width: 160px;
                position: absolute;
                right: 31%;
                top: 23%;
                z-index: -2;

            }
            
        	/* FORMATAÇÃO */

            h1 {
                color: #FFF;
                font-size: 4em;
                font-weight: 400;
            }

            .h1-questao {
                width: 52%;
                background-color: #2E3B23;
                margin: auto;
                position: relative;
                font-size: 40px;
                padding-top: -10px;
                margin-bottom: 0.5em;
                border-width: 5%;
                letter-spacing: 2px;
            }

            h2 {
                font-weight: 400;
                color: #2E3B23;
                text-align: center;
                font-size: 35px;
                margin-top: -2px;
                letter-spacing: 1.5px;
            }

            p {
                font-size: 1.2em;
            }

            hr {
                width: 95%;
                opacity: 0.7;
                margin: 20px;
            }

            .fonte {
                color: #2E3B23;
                text-decoration: none;
            }

            .fonte:hover {
                background-color: #2E3B23;
                color: #FFFFFF;
                text-transform: uppercase;
                letter-spacing:  1px;
                padding: 0 0.5em;
                transition: all 0.3s ease 0s;
                border-radius: 50px;
            }
            .fonte-dois {
                color: #2E3B23;
                padding: 0.1em;
                font-weight:  600;
                text-transform: uppercase;
                text-decoration: none;
            }

            .fonte-dois:hover {
                background-color: #2E3B23;
                color: #FFFFFF;
                text-transform: uppercase;
                letter-spacing:  1px;
                padding: 0.1em 0.5em;
                transition: all 0.3s ease 0s;
                border-radius: 50px;

            }


        	/* BOTÕES */
            .botao-principal {
                width: 20em;
                height: 45px;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                color: #12170E;
                background-color: #FFFFFF;
                border: none;
                border-radius: 45px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
                margin: 1.5em;
                font-family: 'Fredoka', sans-serif;
            }

            .botao-principal:hover {
                background-color: #2E3B23;
                box-shadow: 0px 15px 20px rgba(23, 31, 17, 0.4);
                color: #fff;
                transform: translateY(-7px);
            }

            .botao-dois {
                width: 180px;
                background-color: rgba(84,105,64,1);
                color: #FFF;
                height: 45px;
                text-transform: uppercase;
                letter-spacing: 2.0px;
                font-weight: 500;
                border: none;
                border-radius: 45px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
                margin: 10px 1em;
                font-family: 'Fredoka', sans-serif;
            }

            .botao-dois:hover {
                background-color: #2E3B23;
                box-shadow: 0px 15px 20px rgba(23, 31, 17, 0.4);
                transform: translateY(-3px);
                letter-spacing: 2.5px;

            }

            .botao-tres {
                background-color: #2e3b23;
                color: #FFF;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-weight: 500;
                color: #FFF;
                border: none;
                border-radius: 43px;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
                margin: 0.7em;
                padding: 1em; 
                font-family: 'Fredoka', sans-serif;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            }

            .botao-tres:hover {
                background-color: #202918;
                color: #fff;
                transform: translateY(-7px);
                letter-spacing: 3px;
                box-shadow: 0px 15px 20px rgba(23, 31, 17, 0.4);
            }

            .botao-quatro {
                background-color: #2e3b23;
                color: #FFF;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 500;
                color: #FFF;
                border: none;
                border-radius: 43px;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
                margin: 2em;
                padding: 1em;
                font-size: 15px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                font-family: 'Fredoka', sans-serif;

            }

            .botao-quatro:hover {
                background-color: #202918;
                color: #fff;
                transform: translateY(-5px);
                box-shadow: 0px 15px 20px rgba(23, 31, 17, 0.4);
            }

            .botao-nav {
                background-color: #2e3b23;
                color: #FFF;
                height: 30px;
                width: 30px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 500;
                color: #FFF;
                border: none;
                border-radius: 20px;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
                margin: 2px;
                margin-bottom: 40px;
                font-family: 'Fredoka', sans-serif;
            }

            .botao-nav:hover {
                background-color: #202918;
                color: #fff;
                transform: translateY(-1px);
            }

            #botao-alternativa {
                background-color: #2e3b23;
                width: 900px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFF;
                text-transform: uppercase;
                font-weight: 500;
                color: #FFF;
                border: none;
                border-radius: 43px;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
                margin: 0.7em;
                padding: 1.3em; 
                letter-spacing: 1.5px;
                font-family: 'Fredoka', sans-serif;
            }

            #botao-alternativa:hover{
                background-color: #202918;
                color: #FFF;
                transform: translateY(-7px);
            }

            .botao-sair {
                width: 20em;
                height: 45px;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                color: #12170E;
                background-color: #FFFFFF;
                border: none;
                border-radius: 45px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease 0s;
                cursor: pointer;
                outline: none;
                margin: 1.5em;
                font-family: 'Fredoka', sans-serif;
            }
